In [2]:
import pandas as pd

In [41]:
df = pd.read_csv('https://raw.githubusercontent.com/MengtingWan/marketBias/master/data/df_electronics.csv')

In [4]:
print("Numero total de registros: {}".format(df.shape[0]))

Numero total de registros: 1292954

In [5]:
df.head()

,item_id,user_id,rating,timestamp,model_attr,category,brand,year,user_attr,split
0,0,0,5.0,1999-06-13,Female,Portable Audio & Video,NaN,1999,NaN,0
1,0,1,5.0,1999-06-14,Female,Portable Audio & Video,NaN,1999,NaN,0
2,0,2,3.0,1999-06-17,Female,Portable Audio & Video,NaN,1999,NaN,0
3,0,3,1.0,1999-07-01,Female,Portable Audio & Video,NaN,1999,NaN,0
4,0,4,2.0,1999-07-06,Female,Portable Audio & Video,NaN,1999,NaN,0

In [6]:
dup=df.duplicated()
print(' Numero de registros duplicados :',sum(dup), '\n','No se encontraron registros duplicados')

 Numero de registros duplicados : 0
 No se encontraron registros duplicados

In [7]:
print('Numero de registros nulos')
pd.DataFrame(df.isnull().sum().reset_index()).rename( columns={0:"Registros Faltantes","index":"Campos"})

Numero de registros nulos

       Campos  Registros Faltantes
0     item_id                    0
1     user_id                    0
2      rating                    0
3   timestamp                    0
4  model_attr                    0
5    category                    0
6       brand               961834
7        year                    0
8   user_attr              1118830
9       split                    0

In [42]:
data=df.drop(['user_attr'],axis=1)
data=data.drop(['brand'],axis=1)
data=data.drop(['timestamp'],axis=1)
data.head()

   item_id  user_id  rating model_attr                category  year  split
0        0        0     5.0     Female  Portable Audio & Video  1999      0
1        0        1     5.0     Female  Portable Audio & Video  1999      0
2        0        2     3.0     Female  Portable Audio & Video  1999      0
3        0        3     1.0     Female  Portable Audio & Video  1999      0
4        0        4     2.0     Female  Portable Audio & Video  1999      0

In [10]:
print('Numero de registros nulos')
pd.DataFrame(data.isnull().sum().reset_index()).rename( columns={0:"Registros Faltantes","index":"Campos"})

Numero de registros nulos

       Campos  Registros Faltantes
0     item_id                    0
1     user_id                    0
2      rating                    0
3   timestamp                    0
4  model_attr                    0
5    category                    0
6        year                    0
7       split                    0

In [19]:
data['category'].unique()

array([1, 'Computers & Accessories', 'Headphones', 'Camera & Photo',
       'Television & Video', 'Home Audio', 'Accessories & Supplies',
       'Car Electronics & GPS', 'Security & Surveillance',
       'Wearable Technology'], dtype=object)

In [15]:
data['model_attr'].unique()

array(['Female', 'Female&Male', 'Male'], dtype=object)

In [43]:
data['category'] = data['category'].replace({"Portable Audio & Video": 1})
data['category'] = data['category'].replace({"Computers & Accessories": 2})
data['category'] = data['category'].replace({"Headphones": 3})
data['category'] = data['category'].replace({"Camera & Photo": 4})
data['category'] = data['category'].replace({"Television & Video": 5})
data['category'] = data['category'].replace({"Home Audio": 6})
data['category'] = data['category'].replace({"Accessories & Supplies": 7})
data['category'] = data['category'].replace({"Car Electronics & GPS": 8})
data['category'] = data['category'].replace({"Security & Surveillance": 9})
data['category'] = data['category'].replace({"Wearable Technology": 10})

In [22]:
data['category'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10], dtype=int64)

In [44]:
data['model_attr'] = data['model_attr'].replace({"Female": 1})
data['model_attr'] = data['model_attr'].replace({"Male": 2})
data['model_attr'] = data['model_attr'].replace({"Female&Male": 3})

In [24]:
data['model_attr'].unique()

array([1, 3, 2], dtype=int64)

In [47]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1292954 entries, 0 to 1292953
Data columns (total 7 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   item_id     1292954 non-null  int64
 1   user_id     1292954 non-null  int64
 2   rating      1292954 non-null  int32
 3   model_attr  1292954 non-null  int64
 4   category    1292954 non-null  int64
 5   year        1292954 non-null  int64
 6   split       1292954 non-null  int64
dtypes: int32(1), int64(6)
memory usage: 64.1 MB

In [45]:
data['rating'] = data['rating'].astype(int)

In [46]:
data2 = data

-------

In [52]:
data = data2
data = data.head(10000)

In [53]:
y = data['rating']
x = data.drop('rating', axis=1)

In [54]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [55]:
print("shape of original dataset :", data.shape)
print("shape of input - training set", x_train.shape)
print("shape of output - training set", y_train.shape)
print("shape of input - testing set", x_test.shape)
print("shape of output - testing set", y_test.shape)

shape of original dataset : (10000, 7)
shape of input - training set (8000, 6)
shape of output - training set (8000,)
shape of input - testing set (2000, 6)
shape of output - testing set (2000,)

In [56]:
matrix = data.pivot(index = 'user_id', columns ='item_id', values = 'rating').fillna(0)
print('Forma de la matriz: ', matrix.shape)

Forma de la matriz:  (9687, 490)

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/MengtingWan/marketBias/master/data/df_electronics.csv')
df.to_csv('df_electronics_2023.csv')